################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/Vending Machine
/.vs/Vending Machine/v15/Browse.VC.opendb
/Debug
/Vending Machine/Debug
/UnitTesting/Debug/

Vending Machine/Vending Machine\.vcxproj\.user

Vending Machine/x64/Debug/ChangeAvailable\.obj

Vending Machine/x64/Debug/ChangeDispenser\.obj

Vending Machine/x64/Debug/Money\.obj

Vending Machine/x64/Debug/MoneyController\.obj

Vending Machine/x64/Debug/PaymentFactory\.obj

Vending Machine/x64/Debug/Product\.obj

Vending Machine/x64/Debug/ProductDispenser\.obj

Vending Machine/x64/Debug/ProductManager\.obj

Vending Machine/x64/Debug/ReceiptPrint\.obj

Vending Machine/x64/Debug/SelectionPresentor\.obj

Vending Machine/x64/Debug/stdafx\.obj

Vending Machine/x64/Debug/TotalTaken\.obj

Vending Machine/x64/Debug/Transaction\.obj

Vending Machine/x64/Debug/TransactionStore\.obj

Vending Machine/x64/Debug/vc141\.idb

Vending Machine/x64/Debug/vc141\.pdb

Vending Machine/x64/Debug/Vending Machine\.log

Vending Machine/x64/Debug/Vending Machine\.obj

Vending Machine/x64/Debug/Vending Machine\.pch

Vending Machine/x64/Debug/Vending Machine\.res

Vending Machine/x64/Debug/Vending Machine\.tlog/CL\.command\.1\.tlog

Vending Machine/x64/Debug/Vending Machine\.tlog/CL\.read\.1\.tlog

Vending Machine/x64/Debug/Vending Machine\.tlog/CL\.write\.1\.tlog

Vending Machine/x64/Debug/Vending Machine\.tlog/link\.command\.1\.tlog

Vending Machine/x64/Debug/Vending Machine\.tlog/link\.read\.1\.tlog

Vending Machine/x64/Debug/Vending Machine\.tlog/link\.write\.1\.tlog

Vending Machine/x64/Debug/Vending Machine\.tlog/rc\.command\.1\.tlog

Vending Machine/x64/Debug/Vending Machine\.tlog/rc\.read\.1\.tlog

Vending Machine/x64/Debug/Vending Machine\.tlog/rc\.write\.1\.tlog

Vending Machine/x64/Debug/Vending Machine\.tlog/Vending Machine\.lastbuildstate

x64/Debug/Vending Machine\.exe

x64/Debug/Vending Machine\.ilk

x64/Debug/Vending Machine\.pdb

UnitTesting/x64/Debug/ChangeAvailableTest\.obj

UnitTesting/x64/Debug/MoneyControllerTest\.obj

UnitTesting/x64/Debug/MoneyTest\.obj

UnitTesting/x64/Debug/PaymentFactoryTest\.obj

UnitTesting/x64/Debug/ProductManagerTests\.obj

UnitTesting/x64/Debug/ProductTest\.obj

UnitTesting/x64/Debug/SelectionPresentorTest\.obj

UnitTesting/x64/Debug/stdafx\.obj

UnitTesting/x64/Debug/TransactionStoreTest\.obj

UnitTesting/x64/Debug/UnitTesting\.log

UnitTesting/x64/Debug/UnitTesting\.pch

UnitTesting/x64/Debug/UnitTesting\.tlog/CL\.command\.1\.tlog

UnitTesting/x64/Debug/UnitTesting\.tlog/CL\.read\.1\.tlog

UnitTesting/x64/Debug/UnitTesting\.tlog/CL\.write\.1\.tlog

UnitTesting/x64/Debug/UnitTesting\.tlog/UnitTesting\.lastbuildstate

UnitTesting/x64/Debug/UnitTesting\.tlog/unsuccessfulbuild

UnitTesting/x64/Debug/vc141\.idb

UnitTesting/x64/Debug/vc141\.pdb

UnitTesting/x64/Debug/TransactionTest\.obj

UnitTesting/x64/Debug/UnitTesting\.tlog/link\.command\.1\.tlog

UnitTesting/x64/Debug/UnitTesting\.tlog/link\.read\.1\.tlog

UnitTesting/x64/Debug/UnitTesting\.tlog/link\.write\.1\.tlog

UnitTesting/x64/Debug/UnitTesting\.tlog/UnitTesting\.write\.1u\.tlog

x64/Debug/UnitTesting\.dll

x64/Debug/UnitTesting\.exp

x64/Debug/UnitTesting\.ilk

x64/Debug/UnitTesting\.lib

x64/Debug/UnitTesting\.pdb
